.product {
  &__rating-count {
    position: relative;
    top: 1px;
  }

  &__image {
    height: 200px;
    object-fit: contain;
  }

  &__title {
    min-width: 0;
    h4 {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.pagination {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
